REMOTE_HOST=your_remote_host
REMOTE_DIR=/path/to/remote/dir
IMAGE_NAME=stalker-m3u-server
ADMIN_PASSWORD=admin
PROXY_SECRET=your_proxy_secret
JWT_SECRET=your_jwt_secret
TMDB_API_READ_TOKEN=your_tmdb_api_read_access_token