REMOTE_HOST=your_remote_host
REMOTE_DIR=/path/to/remote/dir
IMAGE_NAME=stalker-m3u-server
ADMIN_PASSWORD=admin
PROXY_SECRET=your_proxy_secret
JWT_SECRET=your_jwt_secret

# Google Authentication
GOOGLE_CLIENT_ID=your_google_client_id_here
ADMIN_EMAIL=admin@example.com
ADMIN_EMAILS=admin@example.com,anotheradmin@example.com

# SMTP Mail Configurations (for Admin Approval Notifications)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Stalker Portal" <your_smtp_username>